
<head>

<h1 class="h1welcome">
    Ode To The Groupchat
    <style>
        .h1welcome {
            color: red;
        }
    </style>
</h1>

</head>

{{!-- <body>
    <style>
    
    </style>
    <p>Where the tea is pipin' hot</p>

    
    </body> --}}

