

<body>
    <div>
    <h1>Sign Up to gain access to the groupchat's top secret information</h1>
    
    <form class="signup-form" action="/signup" method="POST"> 

    <label>Username 
        <input type="text" name="username" placeholder="username" />
    </label>

      <label>Email 
        <input type="email" name="email" placeholder="email" />
    </label>

      <label>Password
        <input type="password" name="password" placeholder="**********" />
    </label>

    <button class="signup-btn" type="submit">Enter the groupchat</button>

    </form>
    </div>
</body>